$maxWidth: 1160px;

$body-color: #f0f2f5;
$blue: #1877f2;
$blue-dark: #0d6ae4;
$green: #42b72a;
$green-dark: #36a51f;
$shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
// $white: #ffffff;
// $black: #000000;
// $pink: #f1cdb0;
// $black-border: #000101;
// $white-light: #f9f6f3;
// $brown: #663d15;
// $grey: #aba9a7;

// $main-bg-color: #373737;
// $text-color: #ffffff;
// // font-size

// $heading-1: 30px;
// $heading-2: 24px;
// $heading-3: 20px;
// $text: 14px;
